extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg" alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut neque ligula, elementum ut venenatis in, sagittis eget tellus. In urna neque, faucibus eget leo a, porttitor pulvinar lorem. Pellentesque felis enim, molestie et semper id, aliquam vitae odio. Cras a efficitur lacus. Cras interdum nisi vitae lectus feugiat tempus. Suspendisse mattis ligula tortor, quis sodales magna scelerisque in. 
                p Nam ante tellus, pulvinar et euismod non, convallis quis ipsum. In ultricies ante enim, non egestas ante fermentum nec. Duis sem turpis, pellentesque a vulputate ut, pellentesque sed ante. Integer consequat sapien et eros maximus
                p  Sed pulvinar pretium odio, sit amet feugiat enim dignissim at. Vivamus ut pulvinar dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  Nulla id nunc porta, pulvinar erat ac, viverra lectus. Integer dictum, nibh lacinia pharetra imperdiet, magna orci mattis tellus, ac dapibus tortor nibh et neque. Nam ante tellus, pulvinar et euismod non, convallis quis ipsum. In ultricies ante enim, non egestas ante fermentum nec. 
                .col-md-4
                    img(src="img/icono_destinos.svg" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Nulla id nunc porta, pulvinar erat ac, viverra lectus. Integer dictum, nibh lacinia pharetra imperdiet, magna orci mattis tellus, ac dapibus tortor nibh et neque. Nam ante tellus, pulvinar et euismod non, convallis quis ipsum. In ultricies ante enim, non egestas ante fermentum nec. 
                .col-md-4
                    img(src="img/icono_precios.svg" class="img-fluid mb-4")
                    h2.mb-4 Menor Precio
                    p  Nulla id nunc porta, pulvinar erat ac, viverra lectus. Integer dictum, nibh lacinia pharetra imperdiet, magna orci mattis tellus, ac dapibus tortor nibh et neque. Nam ante tellus, pulvinar et euismod non, convallis quis ipsum. In ultricies ante enim, non egestas ante fermentum nec. 